<link rel="stylesheet" href="/css/productsStyles.css" />
<h2>{{title}}</h2>
{{#if message}}
  <div class="{{message.type}}">
    <div class="title">{{message.title}}</div>
    <div class="text">{{message.text}}</div>
  </div>
{{/if}}
<div class="product detail">
  <img
    src="https://sinteplastconstruccion.com.ar/assets/img/sinteplastconstruccion.com.ar/photos/w300/{{product.thumbnails}}"
    alt="foto producto"
    width="100"
  />
  <h3>{{product.description}}</h3>
  <p>Precio: ${{product.price}}</p>
  <p>Categoría: {{product.category}}</p>
  <p>Imagen: {{product.thumbnails}}</p>
  <p>Status: {{product.status}}</p>
  <p>Código: {{product.code}}</p>
  <p>Stock: {{product.stock}}</p>
  <form method="post" action="/carts/{{user.cart}}/product/{{product._id}}">
      <input class type="submit" value="Agregar al carro">
  </form>
  <a href="../products" class="verproducto">Ver todos los productos</a>
  <a
    href='../products?query={"category":"{{product.category}}"}'
    class="verproducto"
  >Ver Categoría</a>
</div>