<link rel="stylesheet" href="/css/usersStyles.css">
<h2>Usuario: Actualizar rol</h2>
<div class="user updaterole">
    {{#if message }}
    <div class="{{message.type}}">
        <div class="title">{{message.title}}</div>
        <div class="text">{{message.text}}</div>
    </div>
    {{/if}}
    <h3>{{first_name}} {{last_name}} [{{role}}]</h3>
    <form method="post" action="/api/users/{{_id}}">
        <select name="role" required>
            <option value selected>Seleccione</option>
            <option value="user" >Basico</option>
            <option value="premium">Premium</option>
            <option value="admin">Administrador</option>
        </select>
        <input type="submit" name="" id="" value="Enviar"/>
    </form>
    <div class="login">
        <a href="/">Volver</a>
    </div>
</div>